@model TrainerDetailsModel
@inject ITrainerService trainerService
@{
    ViewBag.Title = "Trainer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.FullName</u></p>
            <p>Age: <b>@Model.Age</b></p>
            <p>Years Of Experience: <b>@Model.YearsOfExperience</b></p>
            <p>Bio: <b>@Model.Bio</b></p>
        </div>
    </div>
</div>