@model TrainerDetailsModel
@inject ITrainerService trainerService
@{
    ViewBag.Title = "Trainer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.FullName</u></p>
            <p>Age: <b>@Model.Age</b></p>
            <p>Years Of Experience: <b>@Model.YearsOfExperience</b></p>
            <p>Bio: <b>@Model.Bio</b></p>
            @* <form asp-controller="Class" asp-action="Edit" method="get">
            <input type="hidden" name="classId" value="@Model.Id">
            <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <form asp-controller="Class" asp-action="Delete" method="get">
            <input type="hidden" name="classId" value="@Model.Id">
            <button type="submit" class="btn btn-danger">Delete class</button>
            </form> *@
        </div>
    </div>
</div>
</div>