@model AllJobAdvertsQueryModel

@{
    ViewBag.Title = "Jobs";
}

<link rel="stylesheet" href="~/css/Common/DropDown.css" />
<link rel="stylesheet" href="~/css/Common/Buttons.css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="add-btn-div">
    <form asp-controller="JobAdvert" asp-action="Add" method="get">
        <button type="submit" class="btn btn-success cfg-add">Add</button>
    </form>
</div>

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="OrderBy"></label>
                <select asp-for="OrderBy" class="form-control">
                    <option value="0">Title Ascending</option>
                    <option value="1">Title Descending</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-3 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalJobAdvertsCount /
        Model.JobsPerPage);
}

<div class="row mb-3 mt-3">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="JobAdvert"
           asp-action="Index"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Status"
           asp-route-sorting="@((int)Model.OrderBy)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.JobAdverts.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="JobAdvert"
           asp-action="Index"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Status"
           asp-route-sorting="@((int)Model.OrderBy)">>></a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Job Title</label></th>
            <th><label>See Details</label></th>
            <th><label>Edit Job Ad</label></th>
            <th><label>Activate/Deactivate</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.JobAdverts)
        {
            <tr>
                <td><label>@job.Title</label></td>
                <td>
                    <form asp-controller="JobAdvert" asp-action="Details" method="get">
                        <input type="hidden" name="jobAdvertId" value="@job.Id">
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="JobAdvert" asp-action="Edit" method="get">
                        <input type="hidden" name="jobAdvertId" value="@job.Id">
                        <button type="submit" class="btn btn-warning cfg-edit">Edit</button>
                    </form>
                </td>
                @if (job.IsActive == true)
                {
                    <td>
                        <form asp-controller="JobAdvert" asp-action="Deactivate" method="post">
                            <input type="hidden" name="jobAdvertId" value="@job.Id">
                            <button type="submit" class="btn btn-danger cfg-deactivate" onclick="return confirm('Are you sure you want to deactivate: @job.Title?')">Deactivate</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="JobAdvert" asp-action="Activate" method="post">
                            <input type="hidden" name="jobAdvertId" value="@job.Id">
                            <button type="submit" class="btn btn-success cfg-activate" onclick="return confirm('Are you sure you want to activate: @job.Title?')">Activate</button>
                        </form>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>