@model IEnumerable<BookingModel>
@{
    ViewData["Title"] = "My Bookings";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if(Model.Any() == false)
{
    <h3 class="text-center">You have not booked any classes!</h3>
}

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h4>@item.Class</h4>
                    <h6>Date: <b>@item.Date</b></h6>
                    <h6>Time: <b>@item.Time</b></h6>
                    <br />
                    <a asp-controller="Class" asp-action="Details" asp-route-id="@item.ClassId"
                       class="btn btn-primary">Details</a>
                    <form asp-controller="Booking" asp-action="CancelBooking" method="post">
                        <input type="hidden" name="bookingId" value="@item.Id">
                        <input class="btn btn-warning" type="submit" value="Cancel" />
                    </form>
                </div>
            </div>
        </div>
    }
</div>