@model ClassDetailsModel
@inject IClassService classService
@inject ITrainerService trainerService
@inject IBookingService bookingService
@{
    ViewBag.Title = "Class Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Class name: <b>@Model.Title</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Sport</b></p>
            <p>Trainer: <b>@Model.Trainer</b></p>
            <p>Date: <b>@Model.Date</b></p>
            <p>Time: <b>@Model.Time</b></p>
            <p>Room: <b>@Model.Room</b></p>
            <p>Spaces left: <b>@Model.AvaliableSpaces</b></p>
            <div class="form-inline">
                @if (this.User.Identity!.IsAuthenticated)
                {
                    if (await classService.HasTrainerWithIdAsync(Model.Id, User.GetId()) || User.IsAdmin())
                    {
                        <form asp-controller="Class" asp-action="Edit" method="get">
                            <input type="hidden" name="classId" value="@Model.Id">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form asp-controller="Class" asp-action="Delete" method="get">
                            <input type="hidden" name="classId" value="@Model.Id">
                            <button type="submit" class="btn btn-danger">Delete class</button>
                        </form>
                    }
                    <p></p>
                    var bookingId = await bookingService.GetBookingIdAsync(User.GetId(), Model.Id);
                    @if (await bookingService.ExistsByIdAsync(bookingId) == false && await trainerService.ExistsByUserIdAsync(User.GetId()) == false)
                    {
                        <form asp-controller="Booking" asp-action="Book" method="post">
                            <input type="hidden" name="classId" value="@Model.Id">
                            <button type="submit" class="btn btn-success">Book</button>
                        </form>
                    }
                    else if (await bookingService.ExistsByIdAsync(bookingId) && await trainerService.ExistsByUserIdAsync(User.GetId()) == false)
                    {
                        <form asp-controller="Booking" asp-action="CancelBooking" method="post">
                            <input type="hidden" name="bookingId" value="(@await bookingService.GetBookingIdAsync(User.GetId(), Model.Id))">
                            <input class="btn btn-warning" type="submit" value="Cancel" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    <p class="card-text">Email:  MAY USE THIS</p>
                    <p class="card-text">Phone Number: MAY USE THIS</p>
                </div>
            </div>
        </div>
    </div>
</div>
