@model AllSportsQueryModel

@{
    ViewBag.Title = "Sports";
}

<link rel="stylesheet" href="~/css/Common/DropDown.css" />
<link rel="stylesheet" href="~/css/Common/Buttons.css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div>
    <form asp-controller="Sport" asp-action="Add" method="get">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<form method="get">
    <div class="form-group col-md-3">
        <div class="form-group">
            <label asp-for="OrderBy"></label>
            <select asp-for="OrderBy" class="form-control">
                <option value="0">Title Ascending</option>
                <option value="1">Title Descending</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group mt-4 p-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalSportsCount /
        Model.SportsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Sport"
           asp-action="Index"
           asp-route-currentPage="@previousPage"
           asp-route-sorting="@((int)Model.OrderBy)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Sports.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Sport"
           asp-action="Index"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-sorting="@((int)Model.OrderBy)">>></a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Sport</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sport in Model.Sports)
        {
            <tr>
                <td><label>@sport.Title</label></td>
                <td>
                    <form asp-controller="Sport" asp-action="Edit" method="get">
                        <input type="hidden" name="sportId" value="@sport.Id">
                        <button type="submit" class="btn btn-warning cfg-edit">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Sport" asp-action="Delete" method="post">
                        <input type="hidden" name="sportId" value="@sport.Id">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete: @sport.Title?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>