@model ClassScheduleModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Date: <b>@Model.Date</b></h6>
            <h6>Time: <b>@Model.Time</b></h6>
            <h6>Trainer: <b>@Model.Trainer</b></h6>
            <h6>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            @* <br />
            <a asp-controller="House" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="House" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
                <p></p>
                @if (!Model.IsRented)
                {
                    <form class="input-group-sm" asp-controller="House"
                          asp-action="Rent" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Rent" />
                    </form>
                }
                else
                {
                    <form asp-controller="House" asp-action="Leave"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Leave" />
                    </form>
                }
            } *@
        </div>
    </div>
</div>
