@model ClassScheduleModel
@inject IClassService classService
@inject IBookingService bookingService
@{
    var bookingId = await bookingService.GetBookingIdAsync(User.GetId(), Model.Id);
}

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Date: <b>@Model.Date</b></h6>
            <h6>Time: <b>@Model.Time</b></h6>
            <h6>Trainer: <b>@Model.Trainer</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-controller="Class" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity!.IsAuthenticated)
            {
                if (await classService.HasTrainerWithIdAsync(Model.Id, User.GetId()))
                {
                    <a asp-controller="Class" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-controller="Class" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                }
                <p></p>
                @if (await bookingService.HasUserBookedForThisClass(Model.Id, User.GetId()) == false)
                {
                    <form asp-controller="Booking" asp-action="Book" method="post">
                        <input type="hidden" name="classId" value="@Model.Id">
                        <button type="submit" class="btn btn-primary">Book</button>
                    </form>
                }
                else if (await bookingService.HasUserBookedForThisClass(Model.Id, User.GetId()))
                {
                    <form asp-controller="Booking" asp-action="CancelBooking" method="post">
                        <input type="hidden" name="bookingId" value="@bookingId">
                        <input class="btn btn-primary" type="submit" value="Cancel" />
                    </form>
                }
            }
        </div>
    </div>
</div>
